# Trimming Enron Email data

In [2]:
# Import packages
import nltk
from nltk.corpus import stopwords
from pprint import pprint
import yaml
import sys
import os
import re
import requests
import pandas as pd
from wordcloud import WordCloud
import matplotlib.pyplot as plt
import stanza
from nltk.probability import FreqDist

In [3]:
enron_emails_df=pd.read_csv('./email_cleaned_with_roles.csv')
enron_emails_df.describe()

                 No.           Time  Mime-Version
count  517401.000000  517401.000000      517401.0
mean     2494.469669    1999.574021           1.0
std      1443.502308      45.756614           0.0
min         1.000000       1.000000           1.0
25%      1244.000000    2000.000000           1.0
50%      2489.000000    2001.000000           1.0
75%      3745.000000    2001.000000           1.0
max      5000.000000    2044.000000           1.0

In [4]:
trimmed_enron_df=enron_emails_df.drop(columns=["X-FileName","X-Origin","Content-Transfer-Encoding","Content-Type","X-Folder","Mime-Version","X-To","X-From",'file','No.'])

In [5]:
trimmed_enron_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517401 entries, 0 to 517400
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Message-ID  517401 non-null  object
 1   Date        517401 non-null  object
 2   Time        517401 non-null  int64
 3   From        517401 non-null  object
 4   To          517401 non-null  object
 5   Subject     517401 non-null  object
 6   X-cc        517401 non-null  object
 7   X-bcc       517401 non-null  object
 8   Content     517401 non-null  object
 9   Job_Title   517401 non-null  object
dtypes: int64(1), object(9)
memory usage: 39.5+ MB

In [15]:
trimmed_enron_df["From"].unique()

array(['phillip.allen@enron.com', 'ina.rangel@enron.com',
       '1.11913372.-2@multexinvestornetwork.com', ...,
       'carol.moline@powerpool.ab.ca', 'edwardc38@hotmail.com',
       'ingjald@shaw.ca'], dtype=object)

In [23]:
trimmed_enron_df.shape

(517401, 10)

In [ ]:
filtered_df = trimmed_enron_df[~trimmed_enron_df["From"].isin([
    "enron.announcements@enron.com", 
    "issuealert@scientech.com",
     "critical.notice@enron.com",
    "public.relations@enron.com",
    "perfmgmt@enron.com",
    "chairman.office@enron.com",
    "technology.enron@enron.com",
    "resources.human@enron.com",
    "exchange.administrator@enron.com",
    "announcements.enron@enron.com",
    "clickathome@enron.com",
    "bodyshop@enron.com"
    ])]
filtered_df.shape

(508430, 10)

In [25]:
filtered_df.to_csv("./data/trimmed_enron_emails.csv")